
{% extends "auctions/layout.html" %}

        <meta name="viewport" content="width=device-width, user-scalable=no,
         initial-scale=1.0, maximun-scale=1.0, minimum-scale=1.0">


{% block body %}
        
    <div class="container">

        <div class="figure">
            <img  src=" {{listing.image}} " class="figure-img img-fluid rounded" alt="..." >
        </div>
          <div class="description">
        <div class="title">
             <h1>{{listing.title}}</h1><br>
        </div>
                           <div class="button">
                         {% if user.is_authenticated %}
                            {% if add %}
                                <form action="{% url 'remove' id=listing.id %}" method="POST">
                                     {% csrf_token %}
                                     <button type="submit" class="btn btn-outline-primary">- Remove list</button><br>
                                 </form>
                                 {% else %}
                                <form action="{% url 'addWatch' id=listing.id %}" method="POST">
                                     {% csrf_token %}
                                     <button type="submit"  class="btn btn-primary">+ Add list</button><br>
                                </form>

                             {% endif %}

                        {% endif %}
                         </div>
                         

                         <div class="price">
                                <spam style="font-size:20px; color:#848484;"> Price :</spam> €{{listing.price.bid}}<br>

                                </div>
                                
                                                {% if user.is_authenticated %}    
                            <form action= "{% url 'newBid' id=listing.id %}" method="POST" >
                                        {% csrf_token %}   
                                    <div class="new-bid">    
                                    <input type="number" min="0" name="nbid" class="form-control"placeholder="Introduce a new bid" required><br>
                                     </div>
                                          <div class="boton-bid">
                                            <button type="submit"  class="btn btn-primary">New Bid</button>
                                          </div> 
                                          
                                                {% else %}
                                                <hr>
                                               <span> Please  <a href="{% url 'login' %}"><strong>login</strong></a> to make a new bid</span><br>
                                               <span> Don't have an account?  <a  href="{% url 'register' %}"><strong>Register here.</strong></a></span>
                                               <hr>
                                         
                                   
                         {% endif%}
  </form>

                    <div class="active">
                          Active <img src="https://upload.wikimedia.org/wikipedia/commons/5/58/Disponible.png?20141220134315" style=width="25px" height="25px"> <br>
                    </div>
                    
                                         
                          
                         {% if user.is_authenticated %}  
                             {% if userbid %}
                                <form action= "{% url 'close' id=listing.id %}" method="POST" >
                                            {% csrf_token %}   
                                    <button type="submit"  class="btn btn-primary" >Close auction</button><br>
                                 </form>
                                    {% endif%}
                        {% endif %}         

                   
                <div class="description-listing">
                     {{listing.description}}<br>
                </div>
                <div class="category">
                 <span style="font-size:20px; color:#1E90FF;" >Category:  {{listing.category}}</span>
                 </div>
               <div class="seller">
                    <p> Create by: <strong>{{listing.seller}}</strong> </p>
                </div>    
                 <span> {{listing.date}}</span>
                             <div class="alert">
                    {% if message %}
                        {% if update %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                        {% else %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                        {% endif%}
                    {% endif%}
                    </div>

                        {% if not listing.status and user == listing.price.user %}                      
                        <div class="alert alert-success" role="alert">
                            You won this auction!
                        </div>
                       
                        {% endif%}
                  
                    </div>



            

        </div>

        </div>
       
     </div>   
       
             {% if user.is_authenticated %}
                    <div class="comment-title">
                        <h4>Comments:</h4><br>
                     </div>  
        <form action="{% url 'comments' id=listing.id %}" method="POST">
                            {% csrf_token %}                          
                <div class="container-comment"> 
                        {% for coment in comments %}
                        <div class="autor">
                       <p><strong style="color:blue;">{{coment.user}}</strong>  - {{coment.date}}</p>
                          </div>  
                       <div class="lista">
                            <ul >
                            <li> {{coment.comment}}</li>
                            </ul>
                           
                        </div>    
                          <hr class="new1"> 
                        {% endfor%}
               
                    <div class="send-comment">
                            {{coment.user}}
                            <textarea class="comment-in" style="height:50px; width:400px;" type="text" name="newComment" 
                            placeholder="Leave your comment here!" ></textarea><br>
                    
                        <button type="submit" class="btn btn-primary">Comment</button><br>
                    
        </form>
        
                    </div> 
                </div> 
            {% endif %}
                 


        <style>
            .description{
                tex-align:center;
                width: 700px;
                height:840px;
                border-radius: 12px;
                margin-top:40px;
                text-align: center;
                transition: .5s;
                background-color:#f9f9f9;
            }
            .title{
            
                margin:30px;
            }

            .price{
                font-size:40px;
                position:relative;
                top:10px;
            }
            .figure{
                margin-top:80px;
                width:100%;
                min-width:200px;
                width:400px;
                height:auto;
                margin-left:0px;
                margin-rigth:100px;
            
            }
            .container{
                display:flex;
                width:auto;
                margin-top:0px;
            }
            .container-comment{
                margin-top:7px;
                text-align:center;
                max-width:900px;
                width:auto;
                background-color:#f9f9f9;
                margin: 0 auto;
                border-radius:5px;
               
            }            
            ul {
            list-style: none;
            }

            .comment-title{
               
               text-align:center;
               margin-top:40px;
              
               
            }

            hr.new1 {
               width:700px;
            }
            
            .send-comment{
                border-radius:35px;
                
                position:relative;
                top:3px;
            }
            textarea.comment-in{
                border-radius:10px;
                width:800px;
            }
            .new-bid{ 
                    width:200px;
                    margin: 0 auto;
                    margin-top:15px;
            }
            .button{
                margin-top:-40px;
            }
            .boton-bid{
               
                position:relative;
                top:-10px;

            }
            .description-listing{
                
                position:relative;
                top:10px;
                

            }
            .active{
             
                position:relative;
                top:-5px;
            }
            .seller{
                position:relative;
                top:20px;
            }
            .category{
                position:relative;
                top:15px;

            }
        </style>
{% endblock %}



